<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Demo测试Mapper -->
<!-- namespace是自定义的，但请规范它，规范在帮助文档中有所提及 -->
<mapper namespace="Role-RoleServiceImpl-0-Mapper">

    <!-- 获取角色权限列表 -->
    <select id="getPowers" resultType="String">
        select authorityKey from `qm_relation` where roleId = #{roleId}
    </select>

</mapper>